@font-face {
    font-family: Tomorrow-Regular;
    src: url(resources/Tomorrow-Regular.ttf);
}

:root {
    --mainFont: Tomorrow-Regular;
    --red: #FF1616;
    --yellow: #FFD913;
    --green: #23CF52;
    --blue: #006EFF;
    --darkGray: #2E2D2D;
    --lightGray: #545454;
    --white: #FDFDFD;
}

* {
    padding: 0;
    margin: 0;
}

a,
a:visited {
    text-decoration: none;
}

body {
    background-color: var(--darkGray);
}

/* BACKGROUND */

.background {
    height: 100%;
    width: 100%;
}

.red_line,
.yellow_line,
.blue_line {
    position: absolute;
}

/* RED LINE */

#rlc {
    position: relative;
    top: 48.5vh;
    left: 24vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--red);
}

#rhl {
    position: absolute;
    top: 1.5vh;
    left: 1vw;
    height: 1.2vh;
    width: 50vw;
    background-color: var(--red);
}

#rdll {
    position: absolute;
    top: -14vh;
    left: -20vw;
    height: 1.2vh;
    width: 25vw;
    background-color: var(--red);
    transform: rotate(225deg);
}

#rrc {
    position: relative;
    top: 0vh;
    left: 50vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--red);
}

#rdrl {
    position: absolute;
    top: 18vh;
    left: -2vw;
    height: 1.2vh;
    width: 25vw;
    background-color: var(--red);
    transform: rotate(45deg);
}

#rbc {
    position: absolute;
    top: 33vh;
    left: 18.5vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--red);
}

/* YELLOW LINE */

#ylc {
    position: relative;
    top: 55vh;
    left: 21vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--yellow);
}

#yhl {
    position: absolute;
    top: 1.5vh;
    left: 1vw;
    height: 1.2vh;
    width: 53vw;
    background-color: var(--yellow);
}

#ydll {
    position: absolute;
    top: -6vh;
    left: -9vw;
    height: 1.2vh;
    width: 12vw;
    background-color: var(--yellow);
    transform: rotate(225deg);
}

#yluc {
    position: absolute;
    top: -16vh;
    left: -8.5vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--yellow);
}

#ylhl {
    position: absolute;
    top: 1.5vh;
    left: -5vw;
    height: 1.2vh;
    width: 6vw;
    background-color: var(--yellow);
}

#yrc {
    position: relative;
    top: 0vh;
    left: 53vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--yellow);
}

#yrvl {
    position: absolute;
    top: 14vh;
    left: -6.4vw;
    height: 1.2vh;
    width: 15vw;
    background-color: var(--yellow);
    transform: rotate(90deg);
}

#ybc {
    position: absolute;
    top: 14vw;
    bottom: 0vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--yellow);
}

/* BLUE LINE */

#burc {
    position: relative;
    top: 62vh;
    left: 42vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--blue);
}

#buhl {
    position: absolute;
    top: 1.5vh;
    left: -11vw;
    height: 1.2vh;
    width: 12vw;
    background-color: var(--blue);
}

#bulc {
    position: absolute;
    top: 0vh;
    left: -12vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--blue);
}

#blrc {
    position: absolute;
    top: 12vh;
    left: 0vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--blue);
}

#bllc {
    position: absolute;
    top: 12vh;
    left: -12vw;
    height: calc(1.5vh + 1.5vw);
    width: calc(1.5vh + 1.5vw);
    border-radius: 50%;
    background-color: var(--blue);
}

#blhl {
    position: absolute;
    top: 13.5vh;
    left: -11vw;
    height: 1.2vh;
    width: 12vw;
    background-color: var(--blue);
}

/* NAME LOGO */

#name {
    color: #dedede;
}

.name,
.name:visited {
    color: var(--lightGray);
    position: absolute;
    left: 34vw;
    top: 10vh;
    font-family: var(--mainFont);
    font-size: 80px;
    color: var(--lightGray);
    text-shadow: var(--red) 1px 0 10px;
    transition: transform 0.2s;
}

.name:hover {
    transform: scale(1.3);
}

.nav_btn,
.nav_btn:visited {
    position: absolute;
    color: var(--white);
    background: var(--lightGray);
    font-family: var(--mainFont);
    font-size: 30px;
    border-radius: 18px;
    border: 6px solid;
    padding: 5px;
    transition: transform 0.2s;
}

.nav_btn:hover {
    transform: scale(1.2);
}

#about_btn {
    top: 9vh;
    left: 4.5vw;
    border-color: var(--red);
}

#projects_btn {
    top: 22.5vh;
    left: 91vw;
    border-color: var(--green);
}

#interests_btn {
    top: 90vh;
    left: 67.5vw;
    border-color: var(--yellow);
}

#contact_btn {
    top: 82vh;
    left: 4.5vw;
    border-color: var(--white);
}